{% extends 'base.html' %}

{% load static %} 

{% block title %}Sensive Blog - Contact{% endblock %}

{% block content %}

<main class="site-main">
    <!--================Hero Banner start =================-->  
    <section class="mb-30px">
      <div class="container">
        <div class="hero-banner">
          <div class="hero-banner__content">
            <h3>Contact Us</h3>
            <h1>Home - Contact Us</h1>
          </div>
          
        </div>
      </div>
    </section>

    <section class="mb-30px">
        <div style = " width:1000px; margin: auto; display:flex; align-items: center; justify-content: center;">
            {{ html_map|safe}}
        </div>
    </section>


</main>



{% endblock %}